<div id="homepage">
  <h1>
    UBERLITE
  </h1>

  <img src="http://2p2bboli8d61fqhjiqzb8p1a.wpengine.netdna-cdn.com/wp-content/uploads/2015/10/hotrod.jpg"/>
  <h1>
    Community Ride Share
  </h1>
</div>
