<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/style' %>
<body class="main-bg">
<div class="homepage" >
<h1 class="banner"> Ride4Change </h1>

<section class="homepage-text">
<h3> Helping the community one ride at a time.</h3>
  <ul>
    <li> 10% proceeds go to the community through community projects. </li>
    <li> Providing Jobs and Safe Rides. </li>
    <li> Be the CHANGE - RIDE WITH US! </li>

  </ul>
</section>
</div>
</body>
