<h1>Welcome to the homepage</h1>

<%= link_to "All Passengers", passengers_path %>
<%= link_to "All Drivers", drivers_path %>
<%= link_to "New Passenger", new_passenger_path %>
<%= link_to "New Driver", new_driver_path %>
