<head>
  <% stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Amatic+SC" %>
</head>
<body>
  <section>

    <h1 class="intro" >Ride with Ada</h1>
    <p class="ufo"><%= image_tag "ufo.jpg", alt:"ufo"%></p>
  </section>
</body>
<footer>copyright 2017 Angela&Lauren</footer>
