<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/style' %>
<div class="homepage" >
<h1 class="banner"> Ride4Change </h1>

<section class="homepage-text">
<h3> Helping the community one ride at a time.</h3>
  <ul>
    <li> 10% of proceeds go back to the community through community projects. </li>
    <li> Safe rides. </li>
    <li> Jobs. </li>
  </ul>
</section>

</div>
