<section id="intro">
  <p class="normal">Need a ride?</p>
  <p class="normal">It's as easy as using your trusty RideShare app.</p>
  <p>OR IS IT??</p>
  <p>What if your favorite RideShare app...</p>
  <p>was hacked...</p>
  <p>by super-nerd serial killers...</p>
  <h1>Welcome To DieShare</h1>
  <img class="home_nick" src="https://www.placecage.com/c/500/460" alt="The face of a serial killer">
  <p>Your parents always told you not to take rides from strangers<p>
</section>
