<article class="page">
  <h2 class="page-title">Edit a Trip</h2>

  <%= render partial: 'layouts/errors', locals: { model: @trip } %>

  <%= render partial: "form", locals: { hide_placeholder_text: true, button_text: "ADD" }%>
</article>
