<h1>Edit Trip</h1>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
    <li> <strong><%= column.capitalize %> </strong> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "form", locals: { submit_name: "Edit Trip" }%>
