<h1>Edit Rating</h1>

Current Rating: <%= @trip.rating %>
<!-- New Rating: <%= select(:person, [['Lisbon', 1], ['Madrid', 2], ...]) %> -->

<!-- f.select :country, [['Philippines', 1], ['Hong Kong', 2], ['Indonesia', 3]] -->
