<section class="home-text">
  <p class="first">When even an UberPool leaves you lonely...</p>
  <p class="next">Embrace feeling Adryft</p>
  <p class="last">Use YachtSharing to get where you need to go</p>
</section>
