<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<div>
  <ol>
  <% @trips.each do |trip|  %>
  <li>

    <%= link_to trip.id, trip_path(trip.id) %>
  </li>
  <% end %>
</ul>

</div>
