<h2>ALL TRIPS</h2>
<ol>
  <% @trips.order(date: :asc).each do |trip|%>
    <li>
      
      <p>
        <strong >
          <%= link_to "Trip on: #{trip.date}", trip_path(trip) %>
        </strong>
      </p>
      <ul>
        <li>
          <%= "Driver: #{trip.driver.name}"%>
        </li>
        <li>
          <%= "Passenger: #{trip.passenger.name}"%>
        </li>
      </ul>

    </li>
    <% end %>
  </ol>
