<!-- <h1>Trips#index</h1> -->
<div class="home-logo">
  <%=image_tag("purple-logo.png", alt: "Logo", height:"200")%>
</div>

<section class="homepage_banner_text">
  <h1>Seattle's First Karaoke RideShare</h1>
</section>

<footer class="home-footer">
  <h3>&copy; 2017</h3>
</footer>
