<main>
<h2>
  Uberlite Trips
</h2>
<p>
  This is for debugging, I think we can delete it for our final project
</p>

<div>
  <ul>
  <% @trips.each do |trip|  %>
  <li>
    <ul>
      <li>
        Trip id:<%= link_to trip.id, trip_path(trip.id), class: "link" %>
      </li>
      <li>
        Trip driver_id: <%= trip.driver_id %>
      </li>
      <li>
        Trip passenger_id: <%= trip.passenger_id %>
      </li>
      <li>
        Trip rating: <%= trip.rating %>
      </li>
    </ul>
    <br />
  </li>
  <% end %>
  <ul>
</div>
</main>
