<article>
  <header>
    <h1>All Trips</h1>
  </header>
  <section>
    <ol>
      <li>
        <a href="#">Trip 1</a>
      </li>
      <li>
        <a href="#">Trip 2</a>
      </li>
      <li>
        <a href="#">Trip 3</a>
      </li>
      <li>
        <a href="#">Trip 4</a>
      </li>
    </ol>
  </section>
</article>
<%#Investigating Trips

On the trip details page I can...

View details of the trip
Assign a rating (1-5) to the trip, if it does not already have one
Click links to detail pages for the trip's driver and passenger
Click links to edit and delete the trip%>
