<!-- <h1>Trips#index</h1> -->

<section class="homepage_banner_text">
  <h1>Seattle's First Karaoke RideShare</h1>
</section>


<section class="homepage_img">
   <!-- <img alt="RideShare" src="http://www.revistasmartphone.com/wp-content/uploads/2014/11/easy-taxi-karaoke-arch-part.jpg"> -->
</section>

<footer class="home-footer">
  <h3>&copy; 2017</h3>
</footer>
