<h1>Welcome Home</h1>
<p>
  <%= link_to "All Trips", trips_path, :id => "home" %>
</p>
<img src='http://fillmurray.com/400/300' alt='Some cool guy' />

<p>
  Welcome to RideShare with Rails. As a rider you can enjoy a smooth
  and traffic free ride in one of our vehicles for you and all of
  your friends! As a driver you will have access to our traffic-be-gone
  technology which will enable you to travel at the speed limit
  regardless of the time of day! Sign up today!

</p>
