<h1>THIS IS OUR HOME INDEX</h1>

<p>
  <%= link_to drivers_path do %>
    DRIVERS LIST
  <% end %>
</p>

<p>
<%= link_to passengers_path do %>
  PASSENGERS LIST
<% end %>
</p>

<p>
<%= link_to trips_path do %>
  TRIPS LIST
<% end %>
</p>
