<section class="home-navigation">
  <ul>
    <li><%= link_to "All Passengers", passengers_path %></li>
      <li><%= link_to "All Drivers", drivers_path %></li>
      <li><%= link_to "Add a new Driver", new_driver_path %></li>
      <li><%= link_to "Add a new Passenger", new_passenger_path %></li>
  </ul>
</section>
