<section class="homepage">
  <%= image_tag "510805685.jpg", alt: "Tandemshare" %>
  <h1>Join Today!</h1>
  <p>
    Paleo sustainable sartorial, literally taiyaki man braid glossier freegan tofu. Cold-pressed copper mug pinterest, godard poutine portland ugh. Plaid flannel truffaut cold-pressed. Aesthetic letterpress austin, leggings neutra pop-up tattooed twee raclette sustainable hexagon selfies kombucha helvetica freegan. Ennui craft beer beard jianbing typewriter man bun. Prism knausgaard distillery, taiyaki single-origin coffee jianbing lo-fi yuccie wolf shabby chic stumptown cray kombucha. Snackwave +1 heirloom hella franzen. Irony seitan vape, sartorial salvia hashtag brooklyn pabst portland literally. Authentic aesthetic enamel pin adaptogen, la croix copper mug taiyaki. Fashion axe before they sold out semiotics freegan. Celiac tofu pork belly selfies hashtag distillery, blue bottle cliche crucifix PBR&B bushwick raclette VHS. Synth ugh freegan bitters cornhole thundercats. Beard selfies narwhal salvia, lumbersexual listicle kitsch sriracha street art 90's vexillologist. Live-edge jianbing pork belly keffiyeh green juice austin retro polaroid distillery. Sustainable brooklyn twee hashtag yr direct trade microdosing.
  </p>

  <h1>Introducing TandemPool</h1>
  <p>
    Art party tote bag banjo four loko blog portland franzen coloring book seitan mustache keytar food truck ramps squid bespoke. Microdosing offal artisan meditation pabst distillery. Synth swag four loko, 3 wolf moon man bun bicycle rights sartorial gluten-free beard distillery williamsburg fashion axe fam cronut knausgaard. Mlkshk lomo pitchfork iPhone polaroid pug yr ugh leggings. Portland organic chillwave, pop-up wayfarers flexitarian salvia dreamcatcher gochujang yr. Swag keffiyeh poke gastropub. Hot chicken cardigan offal, chartreuse plaid tumeric adaptogen lo-fi lomo glossier fam direct trade authentic jean shorts before they sold out.
  </p>
</section>
