</h2>Passenger name: <%= @passenger.name%></h2>
  <ul>
    <li>
      Passenger's Phone number: <%= @passenger.phone_num%>
    </li>

  <li>
      Passenger's total spent: goes here
  </li>
    </ul>
