<h2>Edit Passenger Details</h2>

<div>
  <%= render partial: "form", locals: {action_name: "Edit details"} %>
</div>
<div>
  <%= render partial: "/layouts/error_messages", locals: {model: @passenger} %>
</div>
