<h1>List of All Passengers</h1>

<table>
  <tr>
    <th>
      Passenger ID
    </th>
    <th>
      Passenger Name
    </th>
    <th>
      Passenger Phone Number
    </th>
  </tr>
  <% @passengers.each do |passenger| %>
  <tr>
    <td><%= passenger.id %>)</td>
    <td><%= link_to passenger.name, passenger_path(passenger.id), alt: "link to individual passenger page" %></td>
    <td><%= passenger.phone_number %></td>
  </tr>
  <% end %>
</table>
