<h1>List of All Passengers</h1>

<ul>
  <% @passengers.each do |passenger| %>

  <li>
    <%= passenger.id %>)
      <%= passenger.name %>
      <%= passenger.phone_number %>
  </li>
    <% end %>
</ul>
