<h1>List of All Passengers</h1>
<%= params.inspect %>

<ul>
  <% @passengers.each do |passenger| %>

  <li>
    <%= passenger.id %>)
      <%= link_to passenger.name, passenger_path(passenger.id), alt: "link to individual passenger page" %>
      <%= passenger.phone_number %>
  </li>
    <% end %>
</ul>
