<h1>You're in Passenger Index</h1>

<p>
   <%= link_to 'Make New Passenger', new_passengers_path %>
</p>


<p>
  <% @passenger.each do |passengers| %>
    <li>
      Passenger: <%= passengers[:name] %>
    </li>

    <%= link_to 'Show',  passenger_path(passengers)%>
  <%end%>
</p>
