<!-- <h1>Passengers#index</h1> -->
<!-- hotkey command for rails equal sign and tab -->

<h1 class="people-list-header">Popstar Passengers</h1>

<ul class="name-columns">
  <% @passengers.each do |passenger| %>
  <li>
    <%= link_to(passenger.name, passenger_path(passenger.id), alt:'Link to Show Passenger view')%>
  </li>
  <% end %>
</ul>

<footer class="index-footer">
  <h3>&copy; 2017</h3>
</footer>
