<%= render partial: 'layouts/nav' %>

<h1>Passengers</h1>

  <ol>
    <%@passengers.each do |passenger|%>
      <li>
        <h3> <%=link_to passenger.name, passenger_path(passenger.id)%> </h3>
        <p> Phone: <%= passenger.phone_num %> </p>
      </li>
          <%end%>
  </ol>
