<!-- <h1>Passengers#new</h1> -->
<!-- <p>Find me in app/views/passengers/new.html.erb</p> -->
<section class="form-header-container">
  <h1 class="form-header">Add a New Passenger:</h1>
</section>
<section class="form-container">
  <%= render partial: "form" %>
</section>
