<article class="bg-color height">
  <header class="style">
    <h1>Create New Passenger</h1>
  </header>
  <section class="detail-wrapper">
    <%= render partial: "pass-error" %>
    <%= render partial: "pass-form", locals: { button_text: "Add New Passenger" } %>
  </section>
</article>
