<h2>
<%= "Passenger #{@passenger.id}: #{@passenger.name}" %>
</h2>

<%= "Phone number: #{@passenger.phone_num}" %>

<!-- I want to create logic that will show all the rides this passenger has taken -->
<!-- number of trips -->

<%= "Rides passenger has been on #{@passenger.trips}" %>
