<h1>Passengers#show</h1>

<h2><%= @passenger.name %></h2>

<h3><%= @passenger.phone_num %></h3>

<section>

  <%= link_to("Edit", edit_passenger_path(@passenger.id)) %>
    <%= link_to("Delete", delete_passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you would like to delete this passenger?"}) %>
</section>
