<h2>
<%= "#{@passenger.id}: #{@passenger.name}" %>
</h2>

<%= link_to "Edit", edit_passenger_path %>
<%= link_to "Delete", destroy_passenger_path %>
<%= link_to "Return to list of Passengers", passengers_path %>
