<h1> List of All Riders </h1>

<section>
  <% @riders.each do |rider| %>
    <p> <%= "#{rider.id}." %> <%= link_to "#{rider.name}", rider_path(rider.id)%></p>

  <% end %>
</section>

<!-- <table>
  <tr>
    <th>
      Rider ID
    </th>
    <th>
      Rider Name
    </th>
  </tr>
  <% @riders.each do |rider| %>
    <tr>
      <td><%= link_to "#{rider.id}", rider_path(rider.id)%></td>
      <td><%= rider.name%></td>
    </tr>
  <%end%>
</table> -->
