</h2>Driver name: <%= @driver.name%></h2>
  <ul>
    <li>
      Driver's VIN: <%= @driver.vin%>
    </li>
    <li>
        Driver's Average Rating: goes here
    </li>
  <li>
      Driver's total earnings: goes here
  </li>
    </ul>
