<!-- <h1>Drivers#edit</h1> -->
<!-- <p>Find me in app/views/drivers/edit.html.erb</p> -->
<section class="form-header-container">
  <h1>Edit the Driver Info:</h1>
</section>

<section class="form-container">
  <%= render partial: "form" %>
</section>

<footer class="add-page-footer">
  <h3>&copy; 2017</h3>
</footer>
