<article class="page">
  <h2 class="page-title">Edit Driver</h2>

  <%= render partial: 'layouts/errors', locals: { model: @driver } %>

  <%= render partial: "form", locals: { hide_placeholder_text: true, form_class: "blue", button_text: "UPDATE" }%>
</article>
