<h1>
  List of all the drivers
</h1>
<p>
  Below is a list of all the drivers
</p>

<div>
  <ol>
  <% @drivers.each do |driver|  %>
  <li>
    
    <%= link_to driver.name, driver_path(driver.id) %>
  </li>
  <% end %>
</ul>

</div>
