<h2>DRIVERS</h2>
<table>
  <% @drivers.each do |driver|  %>
  <tr>
    <td><%= driver[:id] %></td>

    <td>
      <%= link_to driver_path(driver[:id]) do %>
        <%= driver[:name] %>
      <% end %>
    </td>
      
    <td><%= driver[:vin] %></td>
  </tr>
  <% end  %>
</table>
