<h1>Rideshare Drivers</h1>

<p>
   <%= link_to "Add Driver", new_driver_path %>
   <%= link_to "All Drivers", drivers_path %>
</p>
<% @drivers.each do |driver| %>
<ul>
  <li>
    name: <%=link_to driver.name, driver_path(driver.id) %>
    vin: <%= driver.vin %>
  </li>
</ul>
<% end %>
