<h1>You're in Driver Index</h1>

<p>
   <%= link_to 'Make New Driver', new_driver_path %>
</p>


<p>
  <% @driver.each do |drive| %>
    <li>
      Driver Name: <%= drive[:name] %>
    </li>

      <%= link_to 'Show',  driver_path(drive)%>

  <%end%>
</p>
