<%# Look into a partial here - similar to passenger index %>

<article class="bg-color">
  <header class="style">
    <h1>All Drivers by Name</h1>
    <p>
      Click on a driver to view more details
    </p>
  </header>
  <section class="columns">
    <ol>
      <% @drivers.each do |driver| %>
      <li>
        <%= link_to driver.name, driver_path(driver.id), class: "visited-color link-styles" %>
      </li>
      <% end %>
    </ol>
  </section>
</article>
