<h1> List of All Drivers! </h1>
<p>
  <%= link_to "add driver", new_driver_path %>
</p>

<p>
  <% @drivers.each do |driver| %>
  <div class="driver">
    <strong><%= link_to driver.name, driver_path(driver.id) %></strong>
  </div>
  <% end %>
</p>
