<%= render partial: 'layouts/style' %>
<%= render partial: 'layouts/nav' %>

<h1>Drivers</h1>

<ul>
  <% @drivers.each do |driver| %>
    <li>
      <h3> <%= link_to driver.name, driver_path(driver.id) %> </h3>
      <p> VIN: <%= driver.vin %> </p>
    </li>
  <%end%>
</ul>
