<article>
  <header>
    <h1>All Drivers</h1>
  </header>
  <section>
    <ol>
      <li>
        <a href="#">Driver 1</a>
      </li>
      <li>
        <a href="#">Driver 2</a>
      </li>
      <li>
        <a href="#">Driver 3</a>
      </li>
      <li>
        <a href="#">Driver 4</a>
      </li>
    </ol>
  </section>
</article>
<%#Working with Drivers

On the driver list page I can click on a driver to see that driver's details
On the driver's details page I can...
See the driver's total earnings (total of each trip minus 15%)
See the driver's average rating
See a list of trips this driver has driven
Clicking on a trip from the list will take me to a detail page for that trip
Click links to edit and delete that driver
When creating a new driver:
The user must provide a name and VIN
Don't worry about how the VIN is formatted%>
