<h1>List of All Drivers</h1>
<table>
  <tr>
    <th>Driver ID</th>
    <th>Driver Name</th>
    <th>Yacht Number</th>
  </tr>
  <% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.id %></td>
    <td><%= link_to driver.name, driver_path(driver.id), alt: "Link to individual driver pages."%></td>
    <td><%= driver.vin %></td>
  </tr>
    <% end %>
</table>
