<!-- <h1>Drivers#index</h1> -->

<h1 class="people-list-header">DJ Drivers</h1>

<ul class="name-columns">
  <% @drivers.each do |driver| %>
  <li>
    <%= link_to(driver.name, driver_path(driver.id), alt:'Link to show driver show view')%>
  </li>
  <% end %>
</ul>
