<h1>You're in Driver Index</h1>

<p>
   <%= link_to 'Make New Driver', new_driver_path %>
</p>


<ul>
  <% @drivers.each do |driver| %>
    <li>
      Driver Name: <%= link_to "#{driver.name}",  driver_path(driver)%>
    </li>
  <%end%>
</ul>
