<h1>Drivers</h1>
<!-- <p>Find me in app/views/drivers/index.html.erb</p> -->


<ul class="driver_passenger_list">
  <% @drivers.each do |driver| %>
  <li>
    <div><%= image_tag("driver.png") %></div>
    <div><%=link_to(driver.name, driver_path(driver.id)) %></div>
  </li>
  <% end %>
</ul>
