<h2>
  List of all drivers
</h2>


<div class=index_list>
  <ol>
    <%@drivers.sort_by {|d| d.name}.each do |driver| %>
    <li>
      <%= link_to driver.name, driver_path(driver.id) %>
    </li>
  <% end %>
  </ol>
</div>
