<h2>New Driver</h2>

<div>
  <%= render partial: "form", locals: {action_name: "Create new driver"} %>
</div>
<div>
  <%= render partial: "/layouts/error_messages", locals: {model: @driver} %>
</div>
