<!-- <h1>Drivers#new</h1> -->
<!-- <p>Find me in app/views/drivers/new.html.erb</p> -->
<section class="form-header-container">
  <h1 class="form-header">Add a New Driver:</h1>
</section>
<section class="form-container">
  <%= render partial: "form" %>
</section>
