<h1>Drivers#show</h1>
<p>Find me in app/views/drivers/show.html.erb</p>

<section class="driver_details">
<h2><%= @driver.name%></h2>

  <% Ride.all.each do |ride| %>
    <%if ride.driver == @driver %>
      <p>
        <%= link_to ride %>
      </p>
    <%end%>
  <%end>



</section>
