<h1>Drivers#show</h1>

<h2><%= @driver.name %></h2>

<h3><%= @driver.vin %></h3>

<section>

  <%= link_to("Edit", edit_driver_path(@driver.id)) %>
  <%= link_to("Delete", delete_driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you would like to delete this driver?"}) %>
</section>
