* {
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #D6C9C9;
  font-family: 'Lato', sans-serif;
  color: #4D485B;
  font-size: 1em;
}

h1 {
  text-align: center;
  padding-top: 20px;
}
.page {
  text-align: right;
}
a {
  text-decoration: none;
  color: #499F68;
}

a:hover {
  background: #C2E812;
}

/* header */
header {
  background-color: #DAD4EF;
  padding: 20px;
  text-align: center;
}

header a:hover {
  text-shadow: 2px 2px 10px #C2E812;
}

/*navigation bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #928AAD;
}

nav li {
  float: left;
}

nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #78718E;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #928AAD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #78718E;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*links inside data*/
ul {
  text-align: left;
  margin-left: 0;
  padding-left: 0
}
/* home */
.home {
  height: 76vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.home h1 {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  text-shadow: 2px 2px 5px #78718E;
}

img {
  min-width: 100vw;
  min-height: auto;
  position: absolute;
  bottom: 0;
  z-index: -1
}

table {
  width: 80%;
  margin: auto;
}

th, td {
  padding: 5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #DAD4EF;
}

table tr:nth-child(odd) {
   background-color:#fff;
}

table th {
    background-color: #78718E;
    color: white;
}
/*edit delete new buttons*/
.button {
  width: 100vw;
  text-align: center;
}

.button a {
  background: #78718E;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.button a:hover {
  box-shadow:
  3px 5px 2px white;
}

section {
  padding: 20px;
}

.list p {
  padding: 5px;
}
/*form styling*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #499F68;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
