body  {
  /*background-color: #79D2E9;*/
  font-family: 'Open Sans', sans-serif;
  background:  url(ocean3.gif) no-repeat center center fixed;
background-size: cover;
}

ul {
  list-style: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  color: #0F5364;
  /*background-color:  #C6ECF6 ;*/
  border-radius: 15px 50px;
  min-width: 500px;
  overflow: visible;
  padding-bottom: 1em;
}



.navigation a{
  font-size: 6em;
  color: #0F5364;

  text-shadow: 1;
  padding-left: .5em;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover{
  color: #79D2E9;
}

.navigation .dropdown a{
  font-family: 'Arvo', serif;
  font-size: 2em;
  color: #1FA1C2;
  text-shadow: 1;
  text-decoration: none;
}


.dropdown-button-view, .dropdown-button-create  {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 3em;
    border: none;
    cursor: pointer;
    font-family: 'Arvo', serif;

}

.dropdown {
    position: relative;
    display: flex;
    text-align: right;
    margin-left: 10em;
}

.dropdown-content-view, .dropdown-content-create {
    display: block;
    position: absolute;
    width: 20em;
    min-width: 160px;
    text-align: left;
    overflow: visible;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content-view a, .dropdown-content-create a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-button-view:hover + .dropdown-content-view {
    display: block;
}

.dropdown-content-view:hover + .dropdown-content-view {
    display: block;
}

.dropdown-button-create:hover + .dropdown-content-create {
    display: block;
}

.information-box {
  align-items: center;
  width: 100%;
  height: 500px;
  min-width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: .75;
}

footer {
  font-size: 1em;
  width:100%;
  height:44px;
  padding-top:20px;
  background:transparent;
  position:fixed;
  bottom:0;
  text-align: center;
  color: white;

}


/*animation for home page*/

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: .6;
  }

  45% {
    opacity: 1;
  }

  75% {
    opacity: .6;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.home-text {
  width: 100%;
}

.first, .next, .last{
  color: white;
  text-align: center;
  margin-top: 20%;
  font-family: 'Arvo', serif;
  font-size: 5rem;
  padding-right: 2em;
  padding-left: 2em;
}

.first {
  position: absolute;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 4s;
  color: white;
}

.next {
  position: absolute;
  text-align: center;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 4s;
  animation-duration: 4s;
}

.last {
  position: absolute;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 8s;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  color: white;
}

table {
  width: 65%;
  height: 90%;
  border-radius: 15px 50px;
  text-align: center;
  background-color: #C6ECF6;
  color: black;
  overflow: scroll;
}

table, th, td {
    border-bottom: .25px solid #0F5364;
    border-right: .25px solid #0F5364;
}

th {
  font-weight: bold;
}
