


header {
  background-color: #ffc4c4;
  font-family: fantasy;
  opacity: 1;
  color: #87093b;
  font-weight: bold;
  margin: 0;

}

h1 {
  text-align: center;
  margin-top: -10px;
}

h1 a{
  text-decoration: none;
}

h2 {
  text-align: center;
}

.header_link a{
  display: inline-block;
  background-color: #87093b;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;

}

body {
  background-image: url('roads.jpeg');
  background-size: 100%;
  opacity: .8;
}

footer {
  position:fixed;
  bottom: 0;
}
