/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/*************/
/*  GENERAL  */
/*************/

* {
  /*border: 1px solid lawngreen;*/
}

body {
  background-color: whitesmoke;
  background-image: url(round.png);
  margin: 0;
  /*min-width: 60rem;*/
}

header {
  background-color: tomato;
  color: white;
  height: 5rem;
  left: 0;
  min-width: 60rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header nav {
  float: right;
  margin: 0;
  padding: 0;
  width: 60%;
}

header nav ul {
  float: right;
  list-style: none;
  min-width: 30.5rem;
  padding: 0;
}

header nav li {
  display: inline-block;
  padding: 1rem 2rem 1rem 0;
}

main {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  min-width: 32rem;
  padding: 3%;
  position: relative;
  top: 3.75em;
  width: 74%;
}

h1 {
  display: inline-block;
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.5rem;
  margin: 1rem 1rem 1rem 4rem;
}

h2 {
  color: tomato;
  display: inline-block;
  font-family: 'Comfortaa', sans-serif;
  padding-left: 2rem;
}

a {
  color: inherit;
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
}

p, label {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

span.rating {
  float: right;
  line-height: 1;
}

.page-menu {
  display: inline-block;
  float: right;
}

.page-menu li {
  display: inline;
}

.page-menu a {
  background-color: tomato;
  border-radius: 1rem;
  color: white;
  font-size: .75rem;
  padding: 0.25rem 1rem;
}

.page-menu li a:hover {
  background-color: deepskyblue;
}

/***********/
/*  INDEX  */
/***********/

.index li a {
  background-color: white;
  border: 2px solid tomato;
  border-radius: 5rem;
  box-shadow: 2px 2px 3px lightgrey;
  color: dimgrey;
  display: block;
  margin: 1rem auto;
  max-width: 32rem;
  min-width: 18rem;
  padding: 1rem;
}

.index li a:hover {
  color: deepskyblue;
  box-shadow: -1px -1px 3px lightgrey;
  left: 1px;
  top: 2px;
  position: relative;
}

.index span {
  height: 1rem;
}

/**********/
/*  SHOW  */
/**********/


.trip-list li a {
}

/***********/
/*  FORMS  */
/***********/

.error-messages {
  border: 2px solid crimson;
  border-radius: 1rem;
  color: crimson;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 15rem;
}

.error-messages ul {
  list-style: disc;
  text-align: left;
}

.form {
  margin: auto;
  text-align: center;
  width: 40%;
}

.form label {
  display: block;
}

.form-item [type="submit"] {
  background-color: tomato;
  border-radius: 1rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: .25rem .5rem;
}
.form-item [type="submit"]:active {
  background-color: deepskyblue;
  border-radius: 1rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: .25rem .5rem;
}

.form-item {
  margin: 1rem;
}
