/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .form-field {
   border: 1px solid red;
   border-radius: 10px;
   background-color: pink;
   height: 40px;
   margin-left: 20px;
   width: 55%;
 }

 input {
   font-size: 1em;
 }

 label {
   border: 1px solid red;
   float: left;
   font-size: 1.5em;
   width: 30%;
   text-align: right;
   padding-right: 10px;
 }

 li {
   border: 1px solid blue;
   list-style-type: none;
   margin: 10px;
   padding-bottom: 10px;
   width: 100%;
 }

 ul {
   border: 2px solid green;
   text-align: center;
   width: 75%;
   padding: 20px;
 }

 .submit {
   border: 2px solid purple;
   border-radius: 10px;
   font-size: 1.5em;
   text-align: right;
 }

 /*navbar*/
 header nav {
   background-color: rgb(128, 183, 189);
   height: 80px;
   width: 100%;
   display: flex;
 }

 /* Dropdown Button */
 #home-button {
   display: inline-block;
   padding: 16px;
   flex: 3;
font-size: 1.5em;
font-weight: 400;
/*font-style: bold;*/
 }
 .dropbtn {
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     background-color: rgb(198, 146, 209);
     border-radius: 2em;
     margin: 10% 0;
 }

 .dropdown {
     position: relative;
     display: inline-block;
     flex: 0.5;
     justify-content: center;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {background-color: rgb(198, 146, 209) }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .dropdown:hover .dropbtn {
     background-color: purple;
     color: black;
 }
