/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* colors */
:root {
--black: #333;
--teal: #7de0d8;
--red: #ff0000;
}

/** { border: 1px solid red !important; }*/

/* universal styles */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html, body { height: 100%; }
body { display: flex; flex-direction: column; }
section.content { flex: 1 0 auto; }
body {
 width: 100%;
 color: var(--black);
 font-family: sans-serif;
 font-size: 16px;
}
a {
 color: var(--black);
 text-decoration: none;
}
a:hover { cursor: pointer; }

/* header */
header {
 text-align: center;
 padding: 1% 3%;
 background-color: var(--teal);
}
header h1.nav-bar {
 display: flex;
 justify-content: space-between;
 align-content: center;
}
div.logo a img { vertical-align: top; }

/* navigation menu */
div.nav-menu {
 width: 60%;
 display: flex;
 justify-content: center;
 align-content: center;
}
div.nav-menu ul {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
}
div.nav-menu ul li {
  margin: 1% 0 0 20%;
  width: 45%;
  text-align: center;
}
.passenger-content,
.driver-content {
  display: none;
  position: absolute;
  min-width: 180px;
  background: #fafafa;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.passenger-dropdown a,
.driver-dropdown a {
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-title i { margin-left: 2%; color: #666; }
.passenger-content a i,
.driver-content a i { margin-right: 10%; }
.passenger-content a:hover,
.driver-content a:hover { background: #ccc; }
.passenger-dropdown:hover .passenger-content { display: block; }
.driver-dropdown:hover .driver-content { display: block; }

/* footer */
footer {
  text-align: center;
  padding: 3% 6%;
  background: #666;
  color: #fefefe;
}
footer p {
  font-size: 12px;
}
