/*general settings for all pages*/
body {
  font-family: 'Slabo 13px', serif;
  background: linear-gradient(to bottom right, #8BDAEE, #17849F);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
background-attachment: fixed;

}

html {
  height: 100%;
}

ul, li{
  list-style: none;
}

a {
  text-decoration: none;
}

/*header with logo and navigation*/
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  color: #0F5364;
  border-radius: 15px 50px;
  min-width: 500px;
  overflow: visible;
  height: 12em;
  padding-bottom: 1em;
}

.navigation a{
  font-size: 6em;
  color: #0F5364;
  text-shadow: 1;
  padding-left: .5em;
  font-weight: bold;
}

.navigation a:hover{
  color: #188BA9;
}

/*navigation dropdown menus*/
.navigation .dropdown a{
  font-family: 'Arvo', serif;
  font-size: 2em;
  color: #0F5364;
  text-shadow: 1;
  text-decoration: none;
}

.dropdown a:hover {
  color: #188BA9;
}

.dropdown-button-view, .dropdown-button-create  {
  background-color: transparent;
  color: white;
  padding: 0;
  font-size: 3em;
  border: none;
  cursor: pointer;
  font-family: 'Arvo', serif;
  margin: 0;
}

.dropdown {
  position: relative;
  display: flex;
  text-align: right;
  margin-left: 10em;
}

.dropdown-content-view, .dropdown-content-create {
  display: none;
  position: absolute;
  width: 20em;
  min-width: 160px;
  text-align: left;
  overflow: visible;
  margin: 0;
  z-index: 1;
}

.dropdown-content-view a, .dropdown-content-create a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content-view {
  display: block;
}

.dropdown:hover .dropdown-content-create {
  display: block;
}

/*container for content on non-home pages */
.information-box {
  align-items: center;
  width: 100%;
  height: 90%;
  min-width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: .75;
}

/*footer for all pages */
/*footer {
  font-size: 1em;
  width:100%;
  background:transparent;
  position: fixed;
  bottom:0;
  text-align: center;
  color: white;
}*/

/*different background for homepage only*/
.homepage {
  /*background-color: #79D2E9;*/
  background:  url(asset-path('ocean3.gif')) no-repeat center center fixed;
  background-size: cover;
}

/*animation for home page text*/
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: .6;
  }

  45% {
    opacity: 1;
  }

  75% {
    opacity: .6;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.home-text {
  width: 100%;
}

.first, .next, .last{
  color: white;
  text-align: center;
  margin-top: 20%;
  font-family: 'Arvo', serif;
  font-size: 5rem;
  padding-right: 2em;
  padding-left: 2em;
}

.first {
  position: absolute;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 4s;
  color: white;
}

.next {
  position: absolute;
  align-items: center;
  opacity: 0;
  padding-left: 3.5em;
  animation-name: fadeInOut;
  animation-delay: 4s;
  animation-duration: 4s;
}

.last {
  position: absolute;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 8s;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  color: white;
}

/*table styling for trips views*/
h1 {
  font-family: 'Slabo 13px', serif;
  font-size: 3em;
  color: #0F5364;
  font-weight: bold;
}

table, table a{
  display: table;
  width: 80%;
  height: 50%;
  background: transparent;
  text-align: left;
  color: white;
  font-family: 'Slabo 13px', serif;
}

table,thead,th, td{
  text-align: center;
  margin: auto;
  border:1px solid #B5E7F4;
  padding: 1rem;
}

tr:hover, tr:hover a{
  background-color: white;
  color: #0F5364;
}

/*circular images for viewing all passengers and drivers */
.profiles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.row {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.profile-pic {
  display: flex;
  flex-flow: column;
  padding: 1em;
  text-align: center;
  color: #0F5364;
  font-family: 'Slabo 13px', serif;
  width: 10em;
}

.profile-pic a {
  color: #0F5364;
}

.profile-pic:hover, .profile-pic:hover a{
  color: white;
}

.profile-pic img, .individual-image img {
  padding-bottom: 1em;
  border-radius: 50%;
}

.show-header {
  display: flex;
  flex-flow: row;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.5em;
}

/*individual details for drivers and passengers, including edit and delete links*/
.individual-details, .buttons a{
  font-size: 1.5em;
  color: white;
}

.buttons a:hover {
  color: #0F5364;
}

.individual-details {
  color: #0F5364;
}

/*create driver, passenger, or edit rating forms*/
form {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  width: 40%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid teal;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 3px solid #27cdb2;
}

input[type=submit] {
    font-family: 'Slabo 13px', serif;
    background-color: #8BDAEE;
    color: #188BA9;
    font-weight: bold;
    font-size: 1em;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
