body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom right, #8BDAEE, #17849F);
  background-size: cover;
}

.homepage {
  /*background-color: #79D2E9;*/
  background:  url(ocean3.gif) no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  color: #0F5364;
  /*background-color:  #C6ECF6 ;*/
  border-radius: 15px 50px;
  min-width: 500px;
  overflow: visible;
  height: 12em;
  padding-bottom: 1em;
}



.navigation a{
  font-size: 6em;
  color: #0F5364;

  text-shadow: 1;
  padding-left: .5em;
  font-weight: bold;
}

.navigation a:hover{
  color: #79D2E9;
}

.navigation .dropdown a{
  font-family: 'Arvo', serif;
  font-size: 2em;
  color: #0F5364;
  text-shadow: 1;
  text-decoration: none;
}


.dropdown-button-view, .dropdown-button-create  {
    background-color: transparent;
    color: white;
    padding: 0;
    font-size: 3em;
    border: none;
    cursor: pointer;
    font-family: 'Arvo', serif;
    margin: 0;

}

.dropdown {
    position: relative;
    display: flex;
    text-align: right;
    margin-left: 10em;
}

.dropdown-content-view, .dropdown-content-create {
    display: none;
    position: absolute;
    width: 20em;
    min-width: 160px;
    text-align: left;
    overflow: visible;
    margin: 0;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;

}

.dropdown-content-view a, .dropdown-content-create a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*.dropdown:hover + .dropdown-content-view {
    display: block;
}*/


.dropdown:hover .dropdown-content-view {
    display: block;
}

.dropdown:hover .dropdown-content-create {
    display: block;
}

.information-box {
  align-items: center;
  width: 100%;
  height: 90%;
  min-width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: .75;
}

.individual-details {

}

/*.ride-share-body {
  align-items: center;
  width: 100%;
  height: 500px;
  min-width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: .75;
}*/

footer {
  font-size: 1em;
  width:100%;
  height:44px;
  padding-top:20px;
  background:transparent;
  position: fixed;
  bottom:0;
  text-align: center;
  color: white;

}


/*animation for home page*/

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: .6;
  }

  45% {
    opacity: 1;
  }

  75% {
    opacity: .6;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.home-text {
  width: 100%;
}

.first, .next, .last{
  color: white;
  text-align: center;
  margin-top: 20%;
  font-family: 'Arvo', serif;
  font-size: 5rem;
  padding-right: 2em;
  padding-left: 2em;
}

.first {
  position: absolute;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 4s;
  color: white;
}

.next {
  position: absolute;
  text-align: center;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 4s;
  animation-duration: 4s;
}

.last {
  position: absolute;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 8s;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  color: white;
}


/*table {
  width: 65%;
  height: 90%;
  border-radius: 15px 50px;
  text-align: center;
  background-color: transparent;
  color: black;
  overflow: scroll;
}

table, th, td {
    border-bottom: .25px solid #0F5364;
    border-right: .25px solid #0F5364;
}

th {
  font-weight: bold;
}*/
h1 {
  font-family: 'Slabo 13px', serif;
  font-size: 3em;
  color: #0F5364;
  font-weight: bold;

}

table, table a{
  display: table;
  width: 80%;
  height: 50%;
  background: transparent;
  text-align: left;
  color: white;
  font-family: 'Slabo 13px', serif;
}

table,thead,th, td{
  text-align: center;
  margin: auto;
  border:1px solid #B5E7F4;
  padding: 1rem;
}

tr:hover, tr:hover a{
  background-color: white;
  color: #0F5364;
}



/*crazy stuff trying out*/
.profiles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.row {
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.profile-pic {
  display: flex;
  flex-flow: column;
  padding: 1em;
  text-align: center;
  color: #0F5364;
  font-family: 'Slabo 13px', serif;
}

.profile-pic a {
  color: #0F5364;
}

.profile-pic img{
  padding-bottom: 1em;
}

.profile-pic:hover, .profile-pic:hover a{
  color: white;

}

.profile-pic img{
  border-radius: 50%;
}
