/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/* import URLS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|Playfair+Display:900');


/* Emoji font links*/
@font-face {
  font-family: "EmojiSymbols";
  src: url('fonts/EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}
.emj {
  font-family: "EmojiSymbols";
  line-height: 1;
}

/* colors */
:root {
--black: #333;
--teal: #7de0d8;
--dteal: #1bc1c1;
--red: #D75757;
--lred: #FAECEC;
}

/* universal styles */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html, body { height: 100%; }
body { display: flex; flex-direction: column; }
section.content { flex: 1 0 auto; }
body {
 width: 100%;
 color: var(--black);
 font-family: 'PT Sans', sans-serif;
 font-size: 16px;
}
a {
 color: var(--black);
 text-decoration: none;
}
a:hover { cursor: pointer; }


/* header */
header {
 text-align: center;
 padding: 1% 3%;
 background-color: var(--teal);
}
header h1.nav-bar {
 display: flex;
 justify-content: space-between;
 align-content: center;
}
div.logo a img { vertical-align: top; }

/* navigation menu */
div.nav-menu {
 width: 60%;
 display: flex;
 justify-content: center;
 align-content: center;
}
div.nav-menu ul {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
}
div.nav-menu ul li {
  margin: 1% 0 0 20%;
  width: 45%;
  text-align: center;
}
.passenger-content,
.driver-content {
  display: none;
  position: absolute;
  min-width: 180px;
  background: #fafafa;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.passenger-dropdown a,
.driver-dropdown a {
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-title i { margin-left: 2%; color: #666; }
.passenger-content a i,
.driver-content a i { margin-right: 10%; }
.passenger-content a:hover,
.driver-content a:hover { background: #ccc; }
.passenger-dropdown:hover .passenger-content { display: block; }
.driver-dropdown:hover .driver-content { display: block; }


/* hero image */
article.hero-greeting {
  width: 100%;
  height: 700px;
  background: url('https://static.pexels.com/photos/376729/pexels-photo-376729.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
article.hero-greeting h2 {
  width: 100%;
  height: 100%;
  padding-top: 15%;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4.2em;
  line-height: 1.5;
  color: #fafafa;
  background: rgba(0,0,0,0.5);
}


/* section */
section.content {
  display: flex;
  flex-direction: column;
  background: #fefefe;
}
article.page { margin: 2% 6% 4%; }
h2.page-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2.4em;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid #efefef;
}


/* footer */
footer {
  text-align: center;
  padding: 3% 6%;
  background: #666;
  color: #fefefe;
}
footer p { font-size: 12px; }


/* error messages */
section.error-message {
  width: 50%;
  padding: 2%;
  background: var(--lred);
  border-left: 7px solid var(--red);
}
section.error-message h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--red);
  margin-bottom: 3%;
}
section.error-message ul li { line-height: 1.4; }
section.error-message ul li strong { font-weight: 700; margin-right: 2%; }


/* index.html.erb */
table.main-list {
  width: 95%;
  margin: 0 auto;
}
table.main-list tr:hover { background: #fafafa; }
table.main-list tr td { padding: 0.5%; }
table.main-list tr td:nth-of-type(2):hover a { color: var(--dteal); }
table.main-list tr td:nth-of-type(1) { width: 15%; text-align: center;}
table.main-list tr td:nth-of-type(2) { width: 85%; }
table.main-list tr td span.emj {
  font-size: 2em;
  vertical-align: middle;
}
table.main-list tr td a { vertical-align: middle; }

/* form.html.erb */
form[id*=-form] {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
form div[class*="wrapper"] {
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
form div[class*="wrapper"] label {
  width: 15%;
  margin-top: 0.5%;
}
div.field_with_errors {
  display: flex;
  justify-content: center;
}
form div[class*="wrapper"] div.field_with_errors:nth-of-type(1) { width: 15%; }
form div[class*="wrapper"] div.field_with_errors:nth-of-type(2) { width: 30%; }
form div[class*="wrapper"] div.field_with_errors label,
form div[class*="wrapper"] div.field_with_errors input {
  width: 100%;
}
form div[class*="wrapper"] div.field_with_errors input{ padding: 1.8% 3.6%; }
form div[class*="wrapper"] label i {
  color: var(--dteal);
  margin-right: 4%;
}
form div[class*="wrapper"] input {
  width: 30%;
  padding: 0.5% 1%;
}
form div.submit-wrapper input {
  width: 10%;
  margin: 0 auto;
  padding: 1% 0;
  font-size: 1.1em;
  border: none;
  box-shadow: 0 0 0 0;
  background: var(--dteal);
  color: #fefefe;
  font-weight: 700;
  border-radius: 4px;
}
form div.submit-wrapper input:hover { cursor: pointer; }


/* show.html.erb */
h3.table-heading {
  font-size: 1.5em;
  font-weight: 700;
  margin: 2% 0 3%;
}
article.page section { margin: 2% auto; }
section[class*='-info'] div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure[class*='-portrait'] { width: 50%; text-align: center; }
figure[class*='-portrait'] img {
  width: 220px;
  height: 220px;
  vertical-align: middle;
}
table[class*='-deets'] { width: 50%; }
table[class*='-deets'] tr td { padding: 2% 1%; }
table[class*='-deets'] tr td.icon {
  width: 10%;
  text-align: center;
  color: var(--dteal);
}
table[class*='-deets'] tr td.title {
  width: 30%;
  font-weight: 700;
}
table[class*='-deets'] tr td.data { width: 60%; }
section[class*='-actions'] {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
  display: flex;
  justify-content: space-around;;
  align-content: center;
}
section.driver-actions { justify-content: center; }
section[class*='-actions'] a {
  width: 20%;
  padding: 1% 0;
  background: var(--dteal);
  color: #fefefe;
  border-radius: 6px;
  text-align: center;
}
section.driver-actions a:first-of-type { margin-right: 10%; }
section[class*='-actions'] a i { margin-right: 5%; }
table[class*='-trips'] { width: 90%; margin: 0 auto; }
table[class*='-trips'] tr th,
table[class*='-trips'] tr td {
  padding: 1.5% 0;
}
table[class*='-trips'] tr th {
  font-weight: 700;
  background: #efefef;
  border: 1px solid #fefefe;
}
table[class*='-trips'] tr td { text-align: center; }
table[class*='-trips'] tr td i { color: var(--dteal); }
table[class*='-trips'] tr td:nth-of-type(5) i { margin-right: 2%; }


/* rating tool tip */
.rating-wrapper label { position: relative; }
i.fa-info-circle {
  font-size: 0.8em;
  margin-left: 5%;
  color: #999;
}
span.tooltip-text {
  visibility: hidden;
  width: 170px;
  background: var(--teal);
  text-align: center;
  border-radius: 6px;
  padding: 5%;
  position: absolute;
  z-index: 99;
  top: 150%;
  left: 0;
  font-size: 0.8em;
}
span.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-left: 83px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--teal) transparent;
}
label.tooltip:hover span.tooltip-text { visibility: visible; }
