.label{
  float: left;
}

.field {
  float: right;
}

ul{
  padding-left: 0px;
  padding-left: 10px;
}

#new_driver{
  background-color: blue;
  width: 200px;
  margin-left: 44%;
  color: white;
}

#new_driver input[name='commit']{
  margin-left: 25%;
}

.driver{
  //margin-left: 43%;
}

.driver_trip{
  border: 1px black solid;
  width: 300px;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

ol{
  padding-left: 0px;
}

#driver_metadata{
  //margin-left: 45%;
  clear: both;
}

#driver_metadata img{
  float:left;
  margin-right: 10px;
  padding-left: 10px;
}

.single_trip{
  padding: 0px;
}
