// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.hero-greeting {
  width: 100%;
  height: 700px;
  background: url('https://static.pexels.com/photos/376729/pexels-photo-376729.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
div.hero-greeting h2 {
  width: 100%;
  height: 100%;
  padding-top: 20%;
  font-size: 50px;
  color: #fafafa;
  background: rgba(0,0,0,0.5);
}
