// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ########
// # Main #
// ########

.feature {
  background-color: tomato;
  border-radius: 2rem;
  margin: 1rem auto;
  min-height: 19rem;
  min-width: 20rem;
  // width: 45%;
  padding: 1.5rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: top;
  align-items: top;
}

// ########
// # POTM #
// ########

#potm {
  width: 50%;
}

#potm img {
  float: left;
  margin: 1rem;
  min-width: 6rem;
  width: 30%;
}

#potm div {
  display: inline;
  // margin-left: 0.5rem;
  width: 65%;
}

#potm p {
  color: white;
}


#potm blockquote {
  margin: 0 0.75rem;
  font-style: italic;
}

// ###############
// # Top Drivers #
// ###############

#top-drivers {
  width: 35%;
}

#top-drivers li a {
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  display: block;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
}

#top-drivers li a:hover {
  background-color: deepskyblue;
}

#top-drivers li span {
  display: inline-block;
  max-width: 70%;
  overflow-x: hidden;
  white-space: nowrap;
}

// ############
// # New Trip #
// ############

#trip-button {
  display: block;
  float: none;
  text-align: center;
  margin: auto;
  width: 50%;
}

#trip-button a {
  background-color: white;
  border: 2px solid tomato;
  border-radius: 5rem;
  box-shadow: 2px 2px 3px lightgrey;
  color: tomato;
  display: block;
  font-size: 1.25rem;
  padding: 1.5rem;
}

#trip-button a:hover {
  color: deepskyblue;
  box-shadow: -1px -1px 3px lightgrey;
  left: 1px;
  position: relative;
  top: 2px;
}
