/*PASSENGERS#INDEX AND DRIVERS#INDEX*/
// .container {
//   padding-top: 50px;
// }


.people-list-header {
  text-align: center
}

.name-columns {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 30px;
    line-height: 1.5em;
    list-style: none;
}

.index-footer {
  position: relative;
}

.add-page-footer {
  position: absolute;
}

/*PASSENGERS#SHOW*/

.edit-delete-menu {

}

.profile {
  display: flex;
  justify-content: center;
  margin: 15px;
  line-height: 1.5em;
}

.profile img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 20px;

}

.contact-info {

}

.add-trip {
  display: flex;
  justify-content: center;
  margin: 15px;
  line-height: 1.5em;
}

.no-trips {
  text-align: center;
}

.trip-history-container {
  display: flex;
  justify-content: center;

}

table {
    border-collapse: collapse;
    background-color: #f1d6fc;
}

td, th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid gray;
}

tr:hover {
  background-color: cyan;
}

.trip-history {
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
  color: purple;
}

.stats-summary {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.stat {
  // display: inline-flex;
  flex-wrap: nowrap;
  padding-left: 30px;
}


/*PASSENGERS#SHOW*/

.form-container {
  display: flex;
  justify-content: center;
}

.form-header {

}

.form-header-container {
  text-align: center;
}

// TRIP#SHOW

.trip-details-container {
  // display: flex;
  line-height: 1.5em;
  list-style: none;
  text-align: left;
  // flex-direction: column;
  margin-left: 325px;
  margin-top: 25px;
}

.trip-show-container {
  display: block;
  text-align: center;
}

// TRIP#edit
.trip-form-container {
  display: flex;
  justify-content: center;
}
