// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******** MAIN YIELD ********/

section#main-wrapper {
  height: 420px;
  text-align: center;
}

h1#main-large-font {
  font-size: 5em;
  top: 50%;
  color: white;
}
