// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section .title {
  border: 1px solid red;
  width: 100%;
  height: auto;
  font-size: 3em;
  color: red;
}

.newpara {
  font-size: 2em;
  color: red;
}

.nameform {
   display: inline-block;
}

.phoneform {
  border: 1px solid blue;
   display: inline-block;
   margin-left: 60px;
}
