// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.page-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2.4em;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid #efefef;
}

// index.html.erb
table.main-list {
  width: 95%;
  margin: 0 auto;
}
table.main-list tr:hover { background: #fafafa; }
table.main-list tr td { padding: 0.5%; }
table.main-list tr td:nth-of-type(2):hover a { color: var(--dteal); }
table.main-list tr td:nth-of-type(1) { width: 15%; text-align: center;}
table.main-list tr td:nth-of-type(2) { width: 85%; }
table.main-list tr td span.emj {
  font-size: 2em;
  vertical-align: middle;
}
table.main-list tr td a { vertical-align: middle; }

// new.html.erb
// edit.html.erb
// form.html.erb
#passenger-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#passenger-form div[class*="wrapper"] {
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

// no errors
#passenger-form div.name-wrapper label,
#passenger-form div.phone-wrapper label {
  width: 15%;
  margin-top: 0.5%;
}

// yes errors
div.field_with_errors {
  display: flex;
  justify-content: center;
}
#passenger-form div[class*="wrapper"] div.field_with_errors:nth-of-type(1) {
  width: 15%;
}
#passenger-form div[class*="wrapper"] div.field_with_errors:nth-of-type(2) {
  width: 30%;
}
#passenger-form div[class*="wrapper"] div.field_with_errors label,
#passenger-form div[class*="wrapper"] div.field_with_errors input {
  width: 100%;
}
#passenger-form div[class*="wrapper"] div.field_with_errors input{
  padding: 1.8% 3.6%;
}
#passenger-form div[class*="wrapper"] label i {
  color: var(--dteal);
  margin-right: 4%;
}
#passenger-form div[class*="wrapper"] input {
  width: 30%;
  padding: 0.5% 1%;
}
#passenger-form div.submit-wrapper input {
  width: 10%;
  margin: 0 auto;
  padding: 1% 0;
  font-size: 1.1em;
  border: none;
  box-shadow: 0 0 0 0;
  background: var(--dteal);
  color: #fefefe;
  font-weight: 700;
  border-radius: 4px;
}

// show.html.erb
h3.table-heading {
  font-size: 1.5em;
  font-weight: 700;
  margin: 2% 0 3%;
}
article.page section { margin: 2% auto; }
section.pass-info {}
section.pass-info div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure.pass-portrait { width: 50%; text-align: center; }
figure.pass-portrait img { vertical-align: middle; }
table.pass-deets { width: 50%; }
table.pass-deets tr td { padding: 2% 1%; }
table.pass-deets tr td.icon {
  width: 10%;
  text-align: center;
  color: var(--dteal);
}
table.pass-deets tr td.title {
  width: 30%;
  font-weight: 700;
}
table.pass-deets tr td.data { width: 60%; }
section.pass-actions {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
section.pass-actions a {
  width: 20%;
  padding: 1% 0;
  background: var(--dteal);
  color: #fefefe;
  border-radius: 6px;
  text-align: center;
}
section.pass-actions a i { margin-right: 5%; }
table.pass-trips { width: 90%; margin: 0 auto; }
table.pass-trips tr th,
table.pass-trips tr td {
  padding: 1.5% 0;
}
table.pass-trips tr th {
  font-weight: 700;
  background: #efefef;
  border: 1px solid #fefefe;
}
table.pass-trips tr td { text-align: center; }
table.pass-trips tr td i { color: var(--dteal); }
table.pass-trips tr td:nth-of-type(5) i { margin-right: 2%; }
