.passenger_label{
  float: left;
}

.passenger_field {
  float: right;
}

h2{
  margin-left: 10px;
}

#new_passenger{
  background-color: blue;
  width: 235px;
  color: white;
  padding: 5px;
  margin-left: 10px;
}

#new_passenger input[name='commit']{
  margin-left: 25%;
}

#passenger_metadata{
  padding-left: 10px;
}

.passenger_trip{
  border: 1px black solid;
  width: 300px;
}

.edit_passenger{
  background-color: blue;
  width: 250px;
  margin-left: 10px;
  padding: 5px;
  color: white;
}

.edit_passenger input[name='commit']{
  margin-left: 25%;
}
