.cool-list {
  * {
    margin: 0; padding: 0;
    font-family: 'Arimo', sans-serif;
    width: 100%;
  }

  section {
    margin: 20px;
    height: 125px;
  }

  ul {
    list-style-type: none;
  }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

   /*
  li img {
    float: left;
    margin: 0 15px 0 0;
   }*/

  li {
    padding: 10px;
    overflow: auto;
  }
  //
  // li:hover {
  //   background: #eee;
  //   cursor: default;
  // }
}

.link_to-style {
  section {
    text-decoration: none;
    height: 125px;
  }

  section:hover {
    background-color: green;
    // transition: all 500ms ease-in-out;
  }

  section:hover .edit-link p {
    display: none;
  }

  section .edit-link:before {
    content: "EDIT"
  }
}
