.cool-list {
  * {
    margin: 0; padding: 0;
    font-family: 'Arimo', sans-serif;
    width: 85%;
  }

  section {
    margin-left: 20px;
    height: 125px;
  }

  ul {
    list-style-type: none;
  }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

  li {
    padding: 10px;
  }
}

.link_to-style {
  li {
   display: block;
   text-decoration: none;
   color:black;
   background-color: white;
   transition:all 0.5s ease;
  }

  li:hover {
    background: #c9c9c9;
    cursor: default;
  }

  li span {
    display: none;
  }

  li:hover span {
    font-size: 50px;
    display: block;
    width: 32px;
    float: right;
    align-items: center;
  }
}

nav {
  * {
    background-color: #333;
  }

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }
}
