.cool-list {
  * {
    margin: 0; padding: 0;
    font-family: 'Arimo', sans-serif;
    width: 85%;
  }

  section {
    margin-left: 20px;
    height: 125px;
  }

  ul {
    list-style-type: none;
  }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.link_to-style {
  li {
   display: block;
   text-decoration: none;
   color:black;
  }

  li:hover {
    background: #eee;
    cursor: default;
  }

  li span {
    display: none;
  }

  li:hover span {
    font-size: 30px;
    display: block;
    width: 32px;
    float: right;
  }
}
