// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .single_trip{
//   border: 1px black solid;
//   width: 300px;
//   margin-left: 10px;
//   padding-left: 10px;
//   padding-bottom: 10px;
// }
//
// .single_trip ul{
//   padding: 0px;
// }
//
// #new_trip{
//   background-color: blue;
//   width: 300px;
//   color: white;
//   padding: 5px;
//   margin-left: 10px;
// }
//
// #new_trip input[name='commit']{
//   margin-left: 25%;
// }
//
// #trip_driver_id{
//   float: right;
// }
