// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.profile-link {
  color: tomato;
}

a.profile-link:hover {
  color: deepskyblue;
}
